[Desktop Entry]
Type=Application
Name=Install Synapse OS
Comment=Install Synapse OS Nebula to this computer
Exec=calamares
Icon=synapse-os
Terminal=false
Categories=System;
Keywords=install;Synapse;Nebula;
